@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
html{
    height: 100%;
    width: 100%;
}
body{
    background: linear-gradient(180deg, rgba(197, 78, 78, 0.66) 4.17%, rgba(179, 84, 34, 0.65) 50.52%, rgba(205, 186, 82, 0.65) 68.65%, rgba(249, 208, 208, 0.00) 99.99%, rgba(255, 255, 255, 0.00) 100%);
    font-family: 'Anaheim', sans-serif;
}
h1{
    width: 162px;
    height: 47px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    color: #F4EFEF;
    text-align: justify;
    font-size: 40px;
    font-family: Anaheim;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 22px;
    word-wrap: break-word;
    margin-left: 750px;
    margin-top: 35px;
}
h2{
    display: none;
    flex-direction: column;
    width: 310.66px;
    overflow: wrap;
    color: #F6F0F0;
    font-size: 20px;
    line-height: 18px;
}
#menu{
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: flex-end;
    align-content: end;
}
#menu:hover{
    box-shadow: 4px 4px 10px 10px rgb(254, 251, 250)
}
h2.ana-words1{
    position: absolute;
    top: 5px;
}
h2.ana-words2{
    position: absolute;
    top: 35px;
}
h2.espinas{
    position: absolute;
    top: 155px;
    left: 150px;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 22px;
    word-wrap: break-word;
}
#primeracaja{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 25px;
    width: max-content;
    height: max-content;
}
.columna1{
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 460px;
    width: 220px;
}
#matrix{
    position: absolute;
    left: 50px;
    width: 1250px;
    height: 600px;
}
.layer1{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 290px;
    top: 20px;
    z-index: 1;
}
.layer1:hover{
    border: 3px dotted rgba(205, 186, 82, 0.65);
}
div.layer1a{
    cursor: pointer;
    display: none;
    position: absolute;
    right: 1px;
    z-index: 2;
}
.layer1a:hover{
    border: 3px dotted rgba(205, 186, 82, 0.65);
}
div.layer1b{
    display: none;
    position: absolute;
    left: 180px;
    top: 240px;
    z-index: 3;
}
div.layer1c{
    cursor: pointer;
    display: none;
    position: absolute;
    top: 280px;
    z-index: 4;
}
.layer1c:hover{
    border: 3px dotted rgba(205, 186, 82, 0.65);
}
.layer1c-1{
    display: none;
    position: relative;
    top: 10px;
    left: 500px;
}
.layer1c-2{
    display: none;
    position: absolute;
    top: 280px;
    left: 300px;
}
.layer2{
    cursor: pointer;
    display: none;
    position: absolute;
    top: 275px;
    left: 450px;
    z-index: 5;
}
.layer2:hover{
    border: 2px solid rgba(197, 78, 78, 0.66);
}
.layer2a{
    display: none;
    position: absolute;
    top: 350px;
    right: 18px;
    z-index: 6;
}
h2.bajar{
    display: none;
    color: rgba(197, 78, 78, 0.66);
    position: absolute;
    top: 455px;
    left: 550px;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 20px;
    word-wrap: break-word;   
}
.layer2b{
    cursor: pointer;
    display: none;
    position: absolute;
    top: 320px;
    left: 15px;
    z-index: 7;
}
.layer2b:hover{
    border: 2px solid rgba(197, 78, 78, 0.66);
}
.layer2c{
    display: none;
    position: absolute;
    top: 400px;
    right: 220px;
    z-index: 8;
}
.layer2c:hover{
    border: 2px solid rgba(197, 78, 78, 0.66);
}
.layer2d{
    display: none;
    position: absolute;
    top: 260px;
    right: 380px;
    z-index: 9;
}
.layer2d:hover{
    box-shadow: 4px 4px 10px 10px rgb(254, 251, 250)
}