@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
html{
    height: 100%;
    width: 100%;
}
body{
    width: fit-content;
    height: fit-content;
    font-family: 'Anaheim', sans-serif;
    background-image: url('https://github.com/mariabuitsan/assignment_1_3/blob/main/hypertext-prototype/assets/cecropia-obtusifolia.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}
h1{
    width: 162px;
    height: 47px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    color: #F4EFEF;
    text-align: justify;
    font-size: 45px;
    font-family: Anaheim;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 22px;
    word-wrap: break-word;
    margin-left: 750px;
    margin-top: 35px;
}
h2{
    color: #F6F0F0;
    font-size: 20px;
    line-height: 15px;
}
/*#deuda{
    display: block;
    width: 921px;
    height: 600px;
}*/
.layer1a{
    display: block;
    height: 300px;
    padding-left: 50%;
    opacity: 0.80;
}
div.layer1b{
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 60px;
    flex-wrap: wrap;
    align-content: center;
    opacity: 0.7;
}
div.layer1c{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 0.6;
    padding-right: 35%;
    padding-bottom: 2%;
}
div.layercenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: space-around;
    margin-left: 75%;
    margin-top: 10%;
    background-color: rgba(64, 49, 24, 0.75);
    height: 440px;
    width: 440px;
    padding: 30%;
}
.neocolonial{
    background-image: url("https://github.com/mariabuitsan/assignment_1_3/blob/main/hypertext-prototype/assets/background-mina.jpeg?raw=true");
    opacity: 0.8;
}