@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
html{
    height: 100%;
    width: 100%;
}
body{
    width: fit-content;
    height: fit-content;
    font-family: 'Anaheim', sans-serif;
    background-image: url('https://github.com/mariabuitsan/assignment_1_3/blob/main/hypertext-prototype/assets/background-roses.JPG?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
}
.desobediencia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 750px;
    height: 500px;
    margin-left: 355px;
    margin-top: 200px;
}
.menu{
    width: fit-content;
    height: fit-content;
}