@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');
body{
    font-family: 'Anaheim', sans-serif;
    background-image: url('https://github.com/mariabuitsan/assignment_1_3/blob/main/hypertext-prototype/assets/background-mina.jpeg?raw=true');
}
.deuda{
    display: flex;
    flex-direction: row;
}
